/* ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// --------------------------------------------- CONTENT DIVIDERS ---------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------- Waves ----------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.waves {
    display: flex;
    flex-direction: column;
    width: 100vw;
    inset-inline: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.waves > img {
    border-radius: 0;
}

.waves > img:last-of-type {
    rotate: 180deg;
}

.waves > h2 {
    display: -ms-grid;
    display: grid;
    place-items: center;
    margin: 0 !important;
    padding: 4rem 3rem;
    color: var(--white);
    font-family: var(--font-header);
    font-size: 10vw;
    font-weight: bold;
    letter-spacing: 2.5vw;
    text-transform: uppercase;
}

.waves[colour="orange"] > h2 {
    background-color: #d55819;
}
