/* ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------ PAGE TITLE ------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- */

.page-title {
    margin-inline: var(--article-indent);
    display: grid;
    gap: 0 var(--page-title-col-gap);
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: "title article source" "desc desc tags";
    --page-title-col-gap: 1.5em;
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ------------------------------------------- H1 ------------------------------------------ //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.page-title h1 {
    grid-area: title;
}

.page-title :not(h1) {
    color: var(--colour-text-150);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// -------------------------------------- Article data ------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.page-title .page-article-data {
    height: 100%;
    display: flex;
    gap: 0.5em;
    align-items: center;
    grid-area: article;
    font-size: 0.75em;
}

.page-title .page-article-data > * {
    background-color: var(--colour-bg-700);
    padding: 0.125em 0.3em;
    border-radius: 0.4em;
}

.page-title .page-article-data > * > span {
    border-radius: inherit;
}

/* ------------------------------------------------------------------------- //
// ----------------------------- Article class ----------------------------- //
// ------------------------------------------------------------------------- */

.page-title .page-article-data .page-article-class {
    padding: 0;
}

.page-title .page-article-data .page-article-class span {
    --page-class-hue-shift: 24;
    --page-class-hue-offset: 32;
    place-items: center;
    display: inline-grid;
    height: 1.5em;
    width: 1.5em;
    padding: 0 0.125em 0.125em;
    background: none;
    border: 1.5px solid currentColor;
    color: var(--colour-text-450);
    filter: hue-rotate(
            max(
                124deg,
                calc(
                    1deg * ((0 + var(--h) + var(--page-class-hue-offset)) - var(--page-class-hue-shift) * var(--grade))
                )
            )
        )
        contrast(3) saturate(calc(1.25 + (0.25 * var(--grade))));
}

/* ------------------------------------------------------------------------- //
// --------------------------- Article completion -------------------------- //
// ------------------------------------------------------------------------- */

.page-title .page-article-data .page-article-completion span {
    display: flex;
    align-items: center;
    gap: 0.2em;
    color: var(--colour-text-250);
}

.page-title .page-article-data .page-article-completion span::before {
    content: "\e989";
    top: 0.1em;
    font-size: 0.75em;
    color: var(--colour-text-100);
}

/* ------------------------------------------------------------------------- //
// -------------------------------- Divider -------------------------------- //
// ------------------------------------------------------------------------- */

.page-title h1 ~ .page-article-data::before {
    content: "";
    position: absolute;
    inset: 17% auto 17% calc(0px - ((var(--divider-width) + var(--page-title-col-gap)) / 2));
    display: inline-block;
    width: var(--divider-width);
    background-color: var(--colour-bg-800);
    border-radius: 100vw;
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// -------------------------------------- Page source -------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */
.page-title .page-source {
    justify-self: right;
    grid-area: source;
    font-size: 1.35em;
}

.page-title .page-source i {
    color: var(--colour-text-000);
}

.page-title .page-source:hover i {
    color: var(--colour-text-700);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------- Short description ----------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.page-title .short-description {
    grid-area: desc;
    align-self: flex-start;
    font-size: 0.9em;
    color: var(--colour-text-300);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// --------------------------------------- Page tags --------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.page-title .page-tags {
    display: none; /* TODO */
    justify-self: right;
    grid-area: tags;
}

/* ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------ CATEGORIES ------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- */

.categories {
    clear: both;
    display: flex;
    align-items: center;
    gap: var(--categories-gap);
    margin: 0.5em 0 0.25em;
    padding: 0.6em 0.9em;
    background-color: var(--colour-bg-400);
    border-radius: 1em;
    font-size: 0.9em;
    line-height: 1.25em;
    --categories-gap: 1.75em;
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ------------------------------------- Category label ------------------------------------ //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.categories > div:first-child {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 0.25em;
    color: var(--colour-text-400);
}

.categories > div:first-child::after {
    content: "";
    position: absolute;
    inset-block: 10%;
    right: calc(0px - (var(--categories-gap) / 2) - var(--divider-width));
    width: var(--divider-width);
    background-color: var(--colour-bg-750);
    border-radius: 100vw;
    --divider-width: 0.11em;
}

.categories > div:first-child i {
    font-size: 1.2em;
    color: var(--colour-text-200);
}

@media screen and (width <= 640px) {
    .categories > div:first-child > span {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ------------------------------------- Category list ------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.categories .categories-list {
    font-size: 0.9em;
    opacity: 0.85;
}

.categories .categories-list .category {
    display: inline-block;
}

.categories .categories-list .category:not(:last-child)::after {
    content: "•";
    padding-inline: 0.5em;
    color: var(--colour-text-100);
    top: -0.025em;
}
