@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* → Variables
// --------------------- */
:root {
    --font-subheader-name: "Poppins";
    --font-header-name: "Poppins";
    --font-accent-name: "Poppins";
    --font-text-name: "Lexend";
    --font-mono-name: "Space Mono";
    --font-fallback: Helvetica, Arial, sans-serif;
}
