@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");

/* → Variables
// --------------------- */
:root {
    --font-text-name: "Lexend";
    --font-accent-name: "Lexend";
    --font-fallback: Helvetica, Arial, sans-serif;
}
