@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Mono:wght@400;700&display=swap");

/* → Variables
// --------------------- */
:root {
    --font-text-name: "Noto Sans";
    --font-accent-name: "Noto Sans";
    --font-mono-name: "Noto Sans Mono";
    --font-fallback: Helvetica, Arial, sans-serif;
}
