{
  "tabWidth": 4,
  "semi": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.json", "*.jsonc", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 9999
      }
    }
  ]
}
