bs4
markdown
mdx_truly_sane_lists
mkdocs
mkdocs-alias-plugin
mkdocs-caption
mkdocs-categories-plugin
mkdocs-minify-plugin
mkdocs-multirepo-plugin
mkdocs-redirects
mkdocs[i18n]
mwparserfromhell
pygments
pymdown-extensions
pyparsing
setuptools
