mdx_truly_sane_lists
mkdocs
mkdocs[i18n]
mkdocs-alias-plugin
mkdocs-categories-plugin
mkdocs-caption
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
mkdocs-multirepo-plugin
mkdocs-redirects
pymdown-extensions
