/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ---------------------------------------- Infobox ---------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.infobox {
    display: flex;
    flex-direction: column;
    gap: var(--infobox-gap);
    width: clamp(16rem, 32vw, 27rem);
    margin: 0.5em 0 0.5em 2em;
    background-color: var(--colour-bg-650);
    border-radius: 1.25em;
    padding: 0.65em 1em 1em;
    float: right;
    font-size: 0.85em;
    box-shadow: hsl(0 0% 0% / 0.25) 0 0.5rem 1.5rem;
    z-index: 9;
    --infobox-gap: 0.85em;
    --infobox-inner-gap: 0.65em;
    --infobox-divider-width: 2px;
    --infobox-label-width: 7em;
}

@media screen and (width <= 640px) {
    .infobox {
        width: 100%;
        margin: 0 0 var(--main-margin-block);
        float: none;
    }
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------- Title ----------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.infobox > .infobox-title {
    font-size: 1.35rem;
    font-weight: bold;
    color: var(--colour-text-700);
    text-align: center;
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------- Image ----------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.infobox > .infobox-image {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.infobox > .infobox-image > img {
    width: 100%;
}

.infobox > .infobox-image > figcaption {
    text-align: center;
    font-size: 0.8em;
    line-height: 1.4em;
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------- Groups ---------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.infobox > .infobox-group {
    display: flex;
    flex-direction: column;
    gap: var(--infobox-inner-gap);
}

.infobox > figure + .infobox-group {
    margin-top: calc(var(--infobox-gap) / 2);
}

.infobox > :not(figure) + .infobox-group {
    margin-top: var(--infobox-gap);
}

.infobox > .infobox-group::before {
    content: "";
    position: absolute;
    inset: calc(0px - (var(--infobox-gap))) 0 auto;
    height: var(--infobox-divider-width);
    background-color: var(--colour-bg-900);
    border-radius: 100vw;
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------- Header ---------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.infobox > .infobox-group > .infobox-header {
    font-size: 1.05rem;
    color: var(--colour-text-600);
    text-align: center;
}

/* ----------------------------------------------------------------------------------------- //
// ------------------------------------------ Data ----------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.infobox .infobox-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.infobox .infobox-data > .infobox-data-label {
    flex: 0 0 var(--infobox-label-width);
}
