<!DOCTYPE html>
<html lang="en-GB" at-top>
    <head>
        {% include 'head.html' %} {% block extrahead %} {% endblock %}
    </head>
    <body id="top" hidden>
        <header class="no-select">{% include 'header.html' %}</header>
        <main>
            <aside id="toc">
                <ul>
                    {% for toc_item in page.toc %}
                    <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                    {% for toc_item in toc_item.children %}
                    <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                    {% endfor %} {% endfor %}
                </ul>
            </aside>

            {% block content %} {{ page.content }} {% if config.repo_url and page and page.file.src_path %}
            <a id="edit-on-github" class="no-select" href="{{ config.repo_url }}/blob/main/src/{{ page.file.src_path }}">
                <i class="ph ph-github-logo"></i>
                <span text="edit-on-github">Edit this page on GitHub</span>
            </a>
            {% endif %} {% endblock %}
        </main>
        <footer class="no-select">{% include 'footer.html' %}</footer>
    </body>
    <extra id="extra"></extra>
</html>
