<div class="menu" id="settings">
    <button aria-label="Settings" class="menu-button" id="settings-button" tooltip="🍪 Cookies are enabled!" tooltip-type="auto delay closable bottom" type="button">
        <div class="icon ph ph-gear"></div>
    </button>
    <div class="menu-inner">
        <div class="h2"><i class="ph ph-gear"></i> <span text="settings.settings">Settings</span></div>
        <div class="tabs">
            <ul class="tabs-labels">
                <li id="tab-appearance" text="settings.appearance" active>Appearance</li>
                <li id="tab-preferences" text="settings.preferences">Preferences</li>
                <li id="tab-language" text="settings.language">Language</li>
                <li id="tab-accessibility" text="settings.accessibility">Accessibility</li>
                <li id="tab-cookies" text="settings.cookies">Cookies</li>
            </ul>
            <div class="tabs-content">
                <div id="appearance" aria-labelledby="tab-appearance" open>{% include 'partials/menu/settings/appearance.html' %}</div>
                <div id="preferences" aria-labelledby="tab-preferences">{% include 'partials/menu/settings/preferences.html' %}</div>
                <div id="language" aria-labelledby="tab-language">{% include 'partials/menu/settings/language.html' %}</div>
                <div id="accessibility" aria-labelledby="tab-accessibility">{% include 'partials/menu/settings/accessibility.html' %}</div>
                <div id="cookies" aria-labelledby="tab-cookies">{% include 'partials/menu/settings/cookies.html' %}</div>
            </div>
        </div>
    </div>
</div>
<div id="settings-overlay"></div>
