:root {
    --highlight-builtin: hsl(340, 56%, 57%);
    --highlight-builtin-function: hsl(177, 62%, 65%);
    --highlight-builtin-pseudo: var(--highlight-builtin);
    /* --highlight-class: hsl(138, 52%, 51%); */
    --highlight-comment: var(--colour-text-250);
    --highlight-const: hsl(4 100% 75%);
    --highlight-function: hsl(179, 74%, 59%);
    --highlight-keyword: hsl(34, 100%, 69%);
    --highlight-name: hsl(340, 89%, 74%);
    --highlight-operator: hsl(48, 83%, 62%);
    --highlight-operator-word: var(--highlight-const);
    --highlight-punctuation: var(--colour-primary-200);
    --highlight-string: hsl(138 52% 51%);
    --highlight-special: hsl(250, 31%, 44%);
    --highlight-special-console: hsl(175, 54%, 54%);
    --highlight-type: hsl(18, 97%, 69%);
    --highlight-variable: hsl(309, 42%, 64%);
    --highlight-variable-magic: hsl(297, 36%, 61%);
}

/* ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// -------------------------------------------------- Pygments ------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- */

.block-code > code > span,
.block-code .g {
    color: black;
}

.block-code .hll {
    opacity: 1;
    filter: brightness(1.1);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ---------------------------------------- Comments --------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code .c {
    color: var(--highlight-comment);
    font-style: italic;
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ---------------------------------------- Keywords --------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code .k,
.block-code .kn,
.block-code .kr {
    color: var(--highlight-keyword);
}

.block-code .kt {
    color: var(--highlight-type);
}

.block-code .kc {
    color: var(--highlight-const);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------- Names ----------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code .n,
.block-code .nn {
    color: var(--highlight-name);
}

.block-code .nb {
    color: var(--highlight-builtin);
}

.block-code .nbf {
    color: var(--highlight-builtin-function);
}

.block-code .nf {
    color: var(--highlight-function);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ---------------------------------------- Numbers ---------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code .m {
    color: var(--highlight-const);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// --------------------------------------- Operators --------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code .o {
    color: var(--highlight-operator);
}

.block-code .ow {
    color: var(--highlight-operator-word);
}

.block-code .osp {
    color: var(--highlight-special);
    font-style: italic;
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// -------------------------------------- Punctuation -------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code .p {
    color: var(--highlight-punctuation);
    filter: contrast(0.5) brightness(1.25);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------- String ---------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code .s {
    color: var(--highlight-string);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// --------------------------------------- Variables --------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code .nv {
    color: var(--highlight-variable);
}

.block-code .vm {
    color: var(--highlight-variable-magic);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------- Other ----------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code .bp {
    color: var(--highlight-builtin-pseudo);
}

/* ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// --------------------------------------------------- Custom -------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------- Files ----------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code.lang-files .pm {
    color: var(--colour-text-000);
    filter: contrast(0.75);
}

.block-code.lang-files .n {
    color: var(--colour-primary-800);
}

.block-code.lang-files .p:nth-last-child(2),
.block-code.lang-files .p:last-child {
    color: var(--colour-text-200);
}

.block-code.lang-files .p + .n:last-child {
    filter: contrast(0);
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------- Pigeon ---------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

/* Console indicators `> ` */
.block-code .cns {
    color: var(--highlight-special-console);
    font-weight: bold;
    font-style: italic;
}

/* Meta indicators `(class)`, etc. */
.block-code .mt {
    color: var(--colour-text-050);
    font-style: italic;
}

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ------------------------------------ Pigeon Markdown ------------------------------------ //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------- Regex ----------------------------------------- //
// ----------------------------------------------------------------------------------------- //
// ----------------------------------------------------------------------------------------- */

.block-code .rgx,
.block-code .rgxx,
.block-code .rgxe,
.block-code .rgxst,
.block-code .rgxnd,
.block-code .rgxf {
    color: var(--highlight-string);
}

.block-code .rgxst,
.block-code .rgxnd,
.block-code .rgxf {
    font-weight: bolder;
}

.block-code .rgxst,
.block-code .rgxnd {
    padding-inline: 0.25em;
    opacity: 0.35;
}

.block-code .rgxf {
    opacity: 0.2;
}

.block-code .rgxs {
    color: var(--red-dark);
}

.block-code .rgxa {
    color: var(--colour-text-700);
}

.block-code .rgxm {
    color: var(--blue-light);
}

.block-code .rgxq {
    color: var(--colour-text-300);
}

.block-code .rgxg {
    color: var(--colour-text-200);
}

.block-code .rgxc {
    color: var(--orange-dark);
}

.block-code .rgxo {
    color: var(--colour-text-500);
}
