<!DOCTYPE html>
<html lang="en-GB" at-top>
    <head>
        {% include 'head.html' %}
    </head>
    <body id="top">
        <header class="no-select">{% include 'header.html' %}</header>
        <main>
            {{ page.content }} {% if config.repo_url %}
            <a id="edit-on-github" href="{{ config.repo_url }}/edit/main/{{ page.file.src_path }}">
                <i class="ph ph-github-logo"></i>
                <span>Edit this page on GitHub</span>
            </a>
            {% endif %}
        </main>
        <footer class="no-select">{% include 'footer.html' %}</footer>
    </body>
    <extra id="extra"></extra>
</html>
