/* {{pp|small=y}} */
.ambox {
	border: 1px solid #a2a9b1;
	/* @noflip */
	border-left: 10px solid #36c;  /* Default "notice" blue */
	background-color: #fbfbfb;
	box-sizing: border-box;
}

/* Single border between stacked boxes. Take into account base templatestyles,
 * user styles, and Template:Dated maintenance category.
 * remove link selector when T200206 is fixed
 */
.ambox + link + .ambox,
.ambox + link + style + .ambox,
.ambox + link + link + .ambox,
/* TODO: raise these as "is this really that necessary???". the change was Dec 2021 */
.ambox + .mw-empty-elt + link + .ambox,
.ambox + .mw-empty-elt + link + style + .ambox,
.ambox + .mw-empty-elt + link + link + .ambox {
	margin-top: -1px;
}

/* For the "small=left" option. */
/* must override .ambox + .ambox styles above */
html body.mediawiki .ambox.mbox-small-left {
	/* @noflip */
	margin: 4px 1em 4px 0;
	overflow: hidden;
	width: 238px;
	border-collapse: collapse;
	font-size: 88%;
	line-height: 1.25em;
}

.ambox-speedy {
	/* @noflip */
	border-left: 10px solid #b32424;    /* Red */
	background-color: #fee7e6;          /* Pink */
}

.ambox-delete {
	/* @noflip */
	border-left: 10px solid #b32424;    /* Red */
}

.ambox-content {
	/* @noflip */
	border-left: 10px solid #f28500;    /* Orange */
}

.ambox-style {
	/* @noflip */
	border-left: 10px solid #fc3;       /* Yellow */
}

.ambox-move {
	/* @noflip */
	border-left: 10px solid #9932cc;    /* Purple */
}

.ambox-protection {
	/* @noflip */
	border-left: 10px solid #a2a9b1;    /* Gray-gold */
}

.ambox .mbox-text {
	border: none;
	/* @noflip */
	padding: 0.25em 0.5em;
	width: 100%;
}

.ambox .mbox-image {
	border: none;
	/* @noflip */
	padding: 2px 0 2px 0.5em;
	text-align: center;
}

.ambox .mbox-imageright {
	border: none;
	/* @noflip */
	padding: 2px 0.5em 2px 0;
	text-align: center;
}

/* An empty narrow cell */
.ambox .mbox-empty-cell {
	border: none;
	padding: 0;
	width: 1px;
}

/*.ambox .mbox-image-div {*/
/*	width: 52px;*/
/*}*/

/* Hack around MobileFrontend being opinionated */
html.client-js body.skin-minerva .mbox-text-span {
	margin-left: 23px !important;
}

@media (min-width: 720px) {
	.ambox {
		margin: 0 10%;                  /* 10% = Will not overlap with other elements */
	}
}