/* {{pp|small=y}} */
.cmbox {
	margin: 3px 0;
	border-collapse: collapse;
	border: 1px solid #a2a9b1;
	background-color: #dfe8ff;    /* Default "notice" blue */
	box-sizing: border-box;
}

.cmbox-speedy {
	border: 4px solid #b32424;    /* Red */
	background-color: #ffdbdb;    /* Pink */
}

.cmbox-delete {
	background-color: #ffdbdb;    /* Pink */
}

.cmbox-content {
	background-color: #ffe7ce;    /* Orange */
}

.cmbox-style {
	background-color: #fff9db;    /* Yellow */
}

.cmbox-move {
	background-color: #e4d8ff;    /* Purple */
}

.cmbox-protection {
	background-color: #efefe1;    /* Gray-gold */
}

.cmbox .mbox-text {
	border: none;
	/* @noflip */
	padding: 0.25em 0.9em;
	width: 100%;
}

.cmbox .mbox-image {
	border: none;
	/* @noflip */
	padding: 2px 0 2px 0.9em;
	text-align: center;
}

.cmbox .mbox-imageright {
	border: none;
	/* @noflip */
	padding: 2px 0.9em 2px 0;
	text-align: center;
}

/* An empty narrow cell */
.cmbox .mbox-empty-cell {
	border: none;
	padding: 0;
	width: 1px;
}

.cmbox .mbox-invalid-type {
	text-align: center;
}

@media (min-width: 720px) {
	.cmbox {
		margin: 3px 10%;
	}
}